* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.portfolio-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-sidebar {
  background-color: rgb(255, 255, 255) (222, 211, 211);
}
.portfolio-logo p {
  margin-bottom: 100px;
  font-size: 20px;
}
.portfolio-logo p span {
  font-family: corinthia;
  font-weight: bold;
  font-size: 40px;
}
.portfolio-sidebar-list {
  list-style: none;
}
.portfolio-sidebar-sublist {
  margin-bottom: 30px;
  background: red;
}
.portfolio-sidebar-list ::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  background-color: black;
  bottom: 5px;
}
.portfolio-sidebar-sublist a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 20px;
  height: 2px;
}
.portfolio-content {
  background-color: #f1f5f6;
}
